{% extends 'base.html.twig' %}

{% block title %}Hello StaticPageController!{% endblock %}

{% block body %}
<div class="section">
    <div class="container">
        <h2>Mentions légales</h2>
        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod lacinia at quis risus sed vulputate odio ut enim. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Metus dictum at tempor commodo ullamcorper a lacus vestibulum sed. Fames ac turpis egestas sed tempus. Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas. Turpis cursus in hac habitasse platea dictumst. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Purus ut faucibus pulvinar elementum integer enim. Odio facilisis mauris sit amet.
        </p>
        <h3 class="mt-8">
            Mauris cursus
        </h3>
        <p class="paragraph">
            Mauris cursus mattis molestie a iaculis. Velit egestas dui id ornare arcu odio ut sem. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Lacus sed turpis tincidunt id. Cursus vitae congue mauris rhoncus. Laoreet non curabitur gravida arcu ac tortor. Nunc non blandit massa enim. Imperdiet dui accumsan sit amet nulla facilisi. Scelerisque purus semper eget duis at tellus at urna condimentum. Risus ultricies tristique nulla aliquet enim tortor at auctor. Adipiscing at in tellus integer feugiat scelerisque. Magna ac placerat vestibulum lectus mauris ultrices eros. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. In dictum non consectetur a erat nam at lectus urna. Enim neque volutpat ac tincidunt vitae semper quis lectus. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Tristique senectus et netus et malesuada fames ac turpis. Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Ultrices dui sapien eget mi proin sed libero enim sed.
        </p>
        <h3 class="mt-8">
            Consequat semper viverra nam libero justo
        </h3>
        <p class="paragraph">
            Consequat semper viverra nam libero justo laoreet sit. Sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis. Enim ut tellus elementum sagittis vitae et leo. Elit ut aliquam purus sit amet luctus. Blandit aliquam etiam erat velit scelerisque in dictum non. Lacinia at quis risus sed vulputate odio ut enim. Nunc vel risus commodo viverra maecenas accumsan lacus vel. Nisl tincidunt eget nullam non nisi est sit amet. Sed libero enim sed faucibus turpis in eu. Aliquam etiam erat velit scelerisque in dictum non consectetur. Aenean et tortor at risus viverra. Consequat ac felis donec et odio pellentesque diam volutpat.
        </p>
        <p class="paragraph">
            Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna. Senectus et netus et malesuada. Rutrum quisque non tellus orci ac auctor augue. Et malesuada fames ac turpis. Mi proin sed libero enim sed faucibus turpis. Senectus et netus et malesuada fames. Porta nibh venenatis cras sed. Consequat nisl vel pretium lectus quam. Vulputate dignissim suspendisse in est ante in. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Facilisis magna etiam tempor orci eu lobortis elementum. Lacus sed turpis tincidunt id aliquet risus feugiat in. Nec nam aliquam sem et tortor consequat id. Quam elementum pulvinar etiam non. Dui ut ornare lectus sit amet. Suspendisse in est ante in nibh mauris cursus. Eu sem integer vitae justo. In eu mi bibendum neque egestas. Magna ac placerat vestibulum lectus.
        </p>
        <h3 class="mt-8">
            Etiam erat velit scelerisque in dictum
        </h3>
        <p class="paragraph">
            Etiam erat velit scelerisque in dictum. Justo nec ultrices dui sapien eget mi proin sed. Massa eget egestas purus viverra accumsan in. Cursus in hac habitasse platea dictumst quisque sagittis purus. Nibh tellus molestie nunc non blandit massa enim nec dui. Elementum integer enim neque volutpat ac. In ornare quam viverra orci sagittis eu volutpat. Lectus nulla at volutpat diam ut venenatis. Elementum sagittis vitae et leo duis ut. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Amet justo donec enim diam vulputate. Habitant morbi tristique senectus et. Facilisi etiam dignissim diam quis enim lobortis. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Nunc lobortis mattis aliquam faucibus purus in massa. Fames ac turpis egestas sed. Maecenas ultricies mi eget mauris pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Accumsan lacus vel facilisis volutpat.
        </p>
    </div>
</div>
{% endblock %}
