{% extends 'base.html.twig' %}

{% block title %}Hello StaticPageController!{% endblock %}

{% block body %}
<div class="section">
    <div class="container">
        <h2>Politique de confidentialité</h2>
        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis imperdiet proin fermentum leo vel orci porta non. Rhoncus mattis rhoncus urna neque. Netus et malesuada fames ac turpis egestas integer eget. Elementum facilisis leo vel fringilla. Egestas erat imperdiet sed euismod nisi porta. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Amet consectetur adipiscing elit pellentesque.
        </p>
        <h3 class="mt-8">
            Pretium aenean pharetra magna ac placerat
        </h3>
        <p class="paragraph">
            Pretium aenean pharetra magna ac placerat vestibulum. Cursus eget nunc scelerisque viverra mauris in aliquam sem. Molestie ac feugiat sed lectus. Vitae et leo duis ut diam quam nulla porttitor massa. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci a. Ultrices eros in cursus turpis. Tristique nulla aliquet enim tortor at auctor urna. Scelerisque eu ultrices vitae auctor. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. Consequat ac felis donec et odio pellentesque diam volutpat. Sed arcu non odio euismod lacinia at. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Magna sit amet purus gravida quis blandit turpis cursus. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Sit amet nisl purus in mollis nunc sed id semper. Nunc non blandit massa enim nec dui nunc mattis enim. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. At imperdiet dui accumsan sit amet nulla. Facilisis mauris sit amet massa.
        </p>
        <p class="paragraph">
            Tristique sollicitudin nibh sit amet commodo nulla facilisi. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Dictum fusce ut placerat orci nulla pellentesque dignissim enim sit. Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Et tortor consequat id porta nibh venenatis cras. Gravida cum sociis natoque penatibus et. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Turpis egestas pretium aenean pharetra.
        </p>
        <h3 class="mt-8">
            Fringilla ut morbi tincidunt
        </h3>
        <p class="paragraph">
            Fringilla ut morbi tincidunt augue interdum. Ac auctor augue mauris augue neque. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Condimentum vitae sapien pellentesque habitant. Morbi tincidunt ornare massa eget egestas purus viverra. Ultrices neque ornare aenean euismod elementum nisi quis. Et odio pellentesque diam volutpat commodo. Platea dictumst quisque sagittis purus sit. Et netus et malesuada fames. In hendrerit gravida rutrum quisque non tellus orci. Eget magna fermentum iaculis eu. Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Amet facilisis magna etiam tempor orci eu lobortis. Gravida arcu ac tortor dignissim convallis aenean et.
        </p>
        <p class="paragraph">
            Tristique sollicitudin nibh sit amet commodo nulla. Sagittis vitae et leo duis ut diam quam nulla. Eget est lorem ipsum dolor sit amet. Et netus et malesuada fames ac. Laoreet sit amet cursus sit amet. Odio eu feugiat pretium nibh ipsum. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Congue quisque egestas diam in arcu cursus euismod. Integer enim neque volutpat ac tincidunt. Massa placerat duis ultricies lacus sed turpis tincidunt id. Lacus sed viverra tellus in hac. Sem viverra aliquet eget sit amet tellus. Eget velit aliquet sagittis id consectetur purus ut faucibus. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Nam at lectus urna duis convallis. Augue mauris augue neque gravida in fermentum et. Sagittis orci a scelerisque purus semper. Quam pellentesque nec nam aliquam sem et tortor consequat.
        </p>
        <h3 class="mt-8">
            Massa tincidunt
        </h3>
        <p class="paragraph">
            Massa tincidunt dui ut ornare lectus sit amet est. Mauris nunc congue nisi vitae suscipit. Venenatis cras sed felis eget velit. Quis risus sed vulputate odio ut enim blandit. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Tempor id eu nisl nunc mi ipsum. Adipiscing bibendum est ultricies integer quis auctor elit sed. Amet luctus venenatis lectus magna fringilla. Tellus orci ac auctor augue mauris augue neque. Est ante in nibh mauris cursus mattis molestie a iaculis. Suscipit adipiscing bibendum est ultricies. Faucibus a pellentesque sit amet porttitor eget dolor. Vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat. Magna etiam tempor orci eu lobortis elementum nibh tellus. Donec massa sapien faucibus et. Sit amet luctus venenatis lectus magna. Sit amet porttitor eget dolor morbi non arcu risus quis. Id eu nisl nunc mi ipsum faucibus vitae. Enim sed faucibus turpis in eu mi bibendum.
        </p>
        <p class="paragraph">
            Duis convallis convallis tellus id interdum velit. Elementum nisi quis eleifend quam. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. In est ante in nibh mauris. Turpis egestas integer eget aliquet nibh praesent tristique magna. Neque gravida in fermentum et sollicitudin ac orci phasellus egestas. Venenatis cras sed felis eget velit aliquet sagittis id. Velit egestas dui id ornare arcu odio ut sem nulla. Amet consectetur adipiscing elit duis tristique sollicitudin. Est ullamcorper eget nulla facilisi. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectus. Pellentesque id nibh tortor id aliquet lectus proin nibh. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Integer quis auctor elit sed vulputate mi. Libero enim sed faucibus turpis in eu mi bibendum neque. Sit amet est placerat in egestas erat imperdiet sed. Enim neque volutpat ac tincidunt vitae semper quis lectus. Turpis egestas pretium aenean pharetra magna ac placerat.
        </p>
    </div>
</div>
{% endblock %}
