<header class="header">
    <div class="container-xl">
        <nav>
            <a href="/">
                <img src="{{ asset('images/logo.svg') }}" alt="Logo">
            </a>
        </nav>
    </div>
</header>