<header class="bg-blue-500 ">
    <div class="container">
        <nav>
            <a href="/">
                <img src="/images/logo.svg" alt="Logo">
            </a>
        </nav>
    </div>
</header>