@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: $text;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}