%card-wrapper {
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
}

%card {
    padding: 20px;
    box-shadow: $shadow-md;
    background-color: $white;
    border-radius: $radius-lg;
    width: 32%;
    margin-bottom: 20px;

    @media screen and (max-width: $bp-lg) {
        width: 49%;
    }

    @media screen and (max-width: $bp-md) {
        width: 100%;
    }
}

%wrapper {
    padding: 25px;
    box-shadow: $shadow-md;
    border-radius: $radius-lg;
    background-color: $white;
}

.cols {
    display: flex;
    gap: 2%;
    .wrapper {
        width: 49%;
    }
}

@media screen and (max-width: $bp-md) {
    .cols {
        flex-direction: column;

        .wrapper {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}