// colors
$text: #161718;
$light-grey: #F2F2F2;
$light-blue: #B4D3E1;
$blue: #82b5cd;
$coral: #ff6b81;

// breakpoins
$bp-xl: 1199px;
$bp-lg: 992px; 
$bp-lg: 767px; 
$bp-sm: 576px; 

// special effects
$transition: all .2s linear;
$radius-sm: 3px;
$radius-md: 6px;
$radius-xl: 25px;