// colors
$text: #01090D;
$light-grey: #F7F6F6;
$grey: #D1D1D1;
$light-blue: #B4D3E1;
$blue: #82B5CD;
$dark-blue: #3D606F;
$coral: #ff6b81;
$rose: #E0CCDC;
$white: #FFFFFF;

// breakpoins
$bp-xl: 1199px;
$bp-lg: 992px; 
$bp-md: 767px; 
$bp-sm: 576px; 

// special effects
$transition: all .2s linear;
$radius-sm: 3px;
$radius-md: 6px;
$radius-lg: 10px;
$radius-xl: 25px;

$shadow-md: 1px 2px 5px 2px #01090d10;
$shadow-lg: 0px 0px 30px -1px #01090d10;
$shadow-xl: 1px 1px 10px 3px #01090d15;