{% extends 'base.html.twig' %}

{% block title %}Hello ErrorController!{% endblock %}

{% block body %}
<div class="section" id="page404">
    <div class="container">
        <img src="{{ asset('images/404.png') }}" alt="">
        <h4 class="text-center mt-3">
            Le perroquet, notre guide de navigation, a préféré raconter des blagues plutôt que de trouver cette page.
        </h4>
        <a href="{{ path('home') }}" class="button button-lg mt-6">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
