{% extends 'base.html.twig' %}

{% block title %}Page vet{% endblock %}

{% block body %}
<div class="section bg-blue-50">
    <div class="container">
        <h1 class="text-center">Hello {{ controller_name }}! ✅</h1>
        <h4> Id in url : {{ id }}</h4>
    </div>
</div>
{% endblock %}
