{% extends 'base.html.twig' %}

{% block title %}Catalogue veterinaires{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Catalogue veterinaires</h1>

    {% for doctor in doctors %}
        <h2>{{doctor}}</h2>
    {% endfor %}
</div>
{% endblock %}
