{% extends 'base.html.twig' %}

{% block title %}Consultation {% endblock %}

{% block body %}
<div class="section bg-light-grey" id="update_doctor">
    <div class="container container-form">
        <div class="flex justify-center mb-10">
            <h3>Consultation {{ consultation.id }} </h3>
        </div>
        

        </div>
    </div>
</div>
{% endblock %}
