header.header {
    height: 80px;
    border-bottom: 1px solid $light-grey;
    display: flex;
    align-items: center;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        ul {
            width: 80%;
        }
    }
}