header.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $white;
    box-shadow: $shadow-lg;
    position: relative;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15%;
        a.logo {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 15px;
        }
        ul.nav {
            display: flex;
            gap: 20px;
            a {
                font-size: 13px;
                padding: 10px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 4px;
                    left: 10px;
                    height: 0px;
                    width: calc(100% - 20px);
                    background-color: $dark-blue;
                    transition: $transition;
                }
                &:hover, &.active {
                    &:after {
                        height: 2px;
                    }
                }
                &.urgency {
                    font-weight: 600;
                }
            }

            // @media screen and (max-width: $bp-lg) {
            //     display: none;
            // }
        }

        .burger {
            display: none;
        }

        @media screen and (max-width: $bp-lg) {
            gap: 20px;

            .nav-wrapper.closed {
                right: -100%;
                display: none;
                transition: $transition;
            }

            .nav-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                padding: 80px 40px;
                background-color: #ffffffe7;
                backdrop-filter: blur(5px);
                height: 100vh;
                width: 50vw;
                min-width: 300px;
                z-index: 999;
                flex-direction: column;
                justify-content: start;
                box-shadow: $shadow-lg;
                // display: none;
                align-items: start;
                transition: $transition;


                &> * {
                    flex-direction: column;
                }

                .btn-wrapper {
                    margin-top: 30px;
                    gap: 16px;
                }

            }

            ul.nav li {
                margin: 5px 0;
            }

            ul.nav a {
                font-size: 15px;
                padding: 10px 0;

                &:after {
                    height: 80%;
                    width: 0;
                    left: -14px;
                    bottom: 10%;
                }
                &:hover, &.active {
                    &:after {
                        height: 80%;
                        width: 4px;
                    }
                }
                
            }

            .burger {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 20px;
                width: 26px;
                z-index: 9999999;

                .line {
                    width: 26px;
                    height: 2px;
                    background-color: $dark-blue;
                    transition: transform 0.3s ease, opacity 0.3s ease;
                }

                &.open {
                    .line1 {
                        transform: translate(0, 9px) rotate(45deg);
                    }

                    .line2 {
                        opacity: 0;
                    }

                    .line3 {
                        transform: translate(0, -9px) rotate(-45deg);
                    }
                }
            }
        }
    }
}