{% extends 'base.html.twig' %}

{% block title %}AnimaLife | Accueil{% endblock %}

{% block body %}
<section class="section bg-dark-blue" id="hero">
    <div class="container">
        <div class="hero-wrapper">
            <h1 class="text-white">Trouver un rendez-vous  avec un vétérinaire </h1>
            <form action="{{ path('doctors') }}" method="get" class="search-bar">
                <div class="input-group">
                    <div class="input-wrapper">
                        <img src="{{ asset('images/search.svg') }}" alt="Loope">
                        <input type="text" name="establishment" placeholder="Nom, établissement" class="input-field first"/>
                    </div>
                    <div class="input-wrapper">
                        <img src="{{ asset('images/animal.svg') }}" alt="Animal">
                        <input type="text" name="animal" placeholder="Type d'animal" class="input-field"/>
                    </div>
                    <div class="input-wrapper">
                        <img src="{{ asset('images/location.svg') }}" alt="Ville">
                        <input type="text" name="location" placeholder="Ville" class="input-field"/>
                    </div>
                    <button type="submit" class="search-button">Rechercher</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <h2 class="text-center">
            Trouver un vétérinaire pour tous vos compagnons
        </h2>
    </div>
</section>
<section class="bg-blue">
    <div class="container">
        <h2 class="text-center">
            La confidentialité des données
        </h2>
    </div>
</section>
{% endblock %}
