{% extends 'base.html.twig' %}

{% block title %}AnimaLife | Accueil{% endblock %}

{% block body %}
<div class="section" id="home">
    <div class="container">
        <h1>Trouver un rendez-vous  avec un vétérinaire </h1>
        <form action="" method="get" class="search-bar">
            <div class="input-group">
                <div class="input-wrapper">
                    <input type="text" name="establishment" placeholder="Nom, établissement" class="input-field first"/>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="animal" placeholder="Quel est votre animal ?" class="input-field"/>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="location" placeholder="Où ?" class="input-field"/>
                </div>
                <button type="submit" class="search-button">Rechercher</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
