#page404, #page403 {
    background-color: $light-grey;
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    img {
        width: 80%;
        margin: 0 auto;
    }
}