#user_account {
    .animals-wrapper {
        margin: 40px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        justify-content: flex-start;
        gap: 2%;

        .animal-card {
            padding: 20px;
            padding-top: 50px;
            box-shadow: $shadow-md;
            background-color: $white;
            border-radius: $radius-lg;
            width: 32%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            gap: 20px;
            position: relative;
            &:hover {
                box-shadow: $shadow-xl;
            }

            @media screen and (max-width: $bp-lg) {
                width: 49%;
            }

            @media screen and (max-width: $bp-md) {
                width: 100%;
            }

            img {
                height: 90px;
                width: 90px;
                border-radius: 100%;
                object-fit: cover;
            }

            .btn-wrapper {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }

            &__text {
                p {
                    margin: 2px 0;
                }
            }

            #btns-top {
                position: absolute;
                top: 11px;
                right: 11px;
            }

            #modify {
                padding: 5px;
            }
        }
    }
}

#doctor_account {
    img.profile-img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }


    .consultations-wrapper {
        margin: 40px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2%;

        h4 {
            color: $grey;
        }

        .consultation-card {
            padding: 20px;
            box-shadow: $shadow-md;
            background-color: $white;
            border-radius: $radius-lg;
            width: 32%;
            margin-bottom: 20px;
            position: relative;

            p {
                margin-bottom: 10px;
            }

            &:hover {
                box-shadow: $shadow-xl;
            }

            @media screen and (max-width: $bp-lg) {
                width: 49%;
            }

            @media screen and (max-width: $bp-md) {
                width: 100%;
            }
        }
    }
}