#user_account {
    .animals-wrapper {
        margin: 40px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // gap: 15px;

        .animal-card {
            padding: 20px;
            box-shadow: $shadow-md;
            background-color: $white;
            border-radius: $radius-lg;
            width: 49%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 15px;
            gap: 20px;
            &:hover {
                box-shadow: $shadow-xl;
            }

            @media screen and (max-width: $bp-md) {
                width: 100%;
            }

            img {
                height: 120px;
                width: 120px;
                border-radius: 100%;
                object-fit: cover;
            }

            .btn-wrapper {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: center;
            }
        }
    }
}