#user_account {
    .animals-wrapper {
        @extend %card-wrapper;

        .animal-card {
            @extend %card;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            position: relative;

            &:hover {
                box-shadow: $shadow-xl;
            }

            img {
                height: 90px;
                width: 90px;
                border-radius: 100%;
                object-fit: cover;
            }

            .btn-wrapper {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }

            &__text {
                p {
                    margin: 2px 0;
                }
            }

            #btns-top {
                position: absolute;
                top: 11px;
                right: 11px;
            }

            #modify {
                padding: 5px;
            }
        }
    }
}

#doctor_account {
    img.profile-img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: $radius-sm;
    }

    .consultations-wrapper {
        @extend %card-wrapper;

        h4 {
            color: $grey;
        }

        .consultation-card {
            @extend %card;

            p {
                margin-bottom: 10px;
            }

            &:hover {
                box-shadow: $shadow-xl;
            }
        }
    }
}