#login, 
#register,
#create_animal, 
#update_animal,
#update_doctor  {
    .form-wrapper {
        border-radius: $radius-lg;
        box-shadow: $shadow-lg;
        overflow: hidden;

        form, .img-wrapper {
            width: 50%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 30px 30px 40px;
        background-color: $white;
        justify-content: center;
        flex-wrap: wrap;

        @media screen and (max-width: $bp-sm) {
            padding: 20px;
        }

        button.button {
            align-self: center;
        }

        &> div {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
        }

        .two-cols {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 20px;
            flex-direction: row;
            > div {
                width: calc(50% - 10px);
            }

            @media screen and (max-width: $bp-sm) {
                flex-direction: column;
                gap: 0;
                > div {
                    width: 100%;
                }
            }
        }

        div:has(input[type=checkbox]) {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;
            width: 100%;
            input[type=checkbox] {
                height: 15px;
                width: 15px;
                accent-color: $dark-blue;
            }
            div label {
                width: calc(50% - 35px); // gap 20 + input width 15
            }
        }

        div:has(input#registration_form_agreeTerms) {
            flex-direction: row;
        }

        input[type=text],
        input[type=number],
        input[type=password],
        input[type=email],
        input[type=date],
        input[type=file],
        textarea,
        select {
            margin: 10px 0 20px;
            padding: 10px 15px;
            font-size: 14px;
            outline: 1px solid $grey;
            border-radius: $radius-md;
            display: block;
            width: 100%;
        }

        .btn-wrapper {
            flex-direction: row;
        }
    }

    form[name=animal_form] {
        width: 100%;
        display: flex;
        flex-direction: column;
        > div {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        input {
            width: 100%;
        }

        input[type=radio] {
            width: 30px;
        }

        #animal_form_vaccinations {
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            > label {
                width: 44%;
            }
        }

        #animal_form_isSterilized,
        #animal_form_sex {
            margin: 10px 0 20px;
    
            input[type="radio"] {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
    
            label {
                cursor: pointer;
                padding: 8px 10px;
                border: 1px solid transparent;
                display: inline-block;
                box-sizing: border-box;
                width: 20%;
                min-width: 104px;
                margin: 0;
                transition: background-color 0.3s, color 0.3s, border-color 0.3s;
                text-align: center;
                border: 1px solid $grey;
                // border-radius: $radius-md;
                color: $grey;

                @media screen and (max-width: $bp-sm) {
                    padding: 8px 6px;
                    min-width: 96px;
                }

                &:first-of-type {
                    border-radius: $radius-md 0 0 $radius-md;
                }

                &:last-of-type {
                    border-radius: 0 $radius-md $radius-md 0;
                }
            }
    
            input[type="radio"]:checked + label {
                background-color: $dark-blue;
                color: white;
                border-color: $dark-blue; 
            }
    
            label:hover {
                background-color: $dark-blue;
                border-color: $dark-blue; 
                color: $white;
            }
        }
    }

    form[name=doctor_form] {
        width: 100%;
    }
}

#login, 
#register {
    @media screen and (max-width: $bp-sm) {
        .form-wrapper {
            form {
                width: 100%;

            }

            .img-wrapper {
                display: none;
            }
        }
    }
}
