#login, 
#register,
#create_animal, 
#update_animal  {
    .form-wrapper {
        border-radius: $radius-lg;
        box-shadow: $shadow-lg;
        overflow: hidden;

        form, .img-wrapper {
            width: 50%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 30px 30px 40px;
        background-color: $white;
        justify-content: center;
        flex-wrap: wrap;

        button.button {
            align-self: center;
        }

        div:has(input[type=checkbox]) {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            input[type=checkbox] {
                height: 15px;
                width: 15px;
            }
        }

        input[type=text],
        input[type=password],
        input[type=email],
        input[type=date],
        input[type=file],
        textarea,
        select {
            margin: 10px 0 20px;
            padding: 10px 15px;
            font-size: 14px;
            outline: 1px solid $grey;
            border-radius: $radius-md;
            display: block;
            width: 100%;
        }
    }

    form[name=animal_form] {
        width: 100%;
        display: flex;
        flex-direction: column;
        > div {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        input {
            width: 100%;
        }

        input[type=radio] {
            width: 30px;
        }

        #animal_form_vaccinations {
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            > label {
                width: 44%;
            }
        }

        #animal_form_sex, #animal_form_isSterilized {
            margin: 10px 0 20px;
        }
    }
}
