#hero {

    .hero-wrapper {
        width: 100%;
        padding: 30px 0 100px;

        @media screen and (max-width: $bp-lg) {
            width: 100%;
        }
    }

    h1 {
        margin: 40px 0;
    }

}

.home-reassurances {
    .container {
        position: relative;
    }

    .reassurances-wrapper {
        position: absolute;
        width: 100%;
        top: -120px;
        left: 0;
        justify-content: center;
        gap: 50px;

        .reassurance {
            padding: 40px 20px;
            box-shadow: $shadow-md;
            background-color: $white;
            border-radius: $radius-lg;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            p {
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width: $bp-lg) {
            gap: 30px;

            .reassurance {
                padding: 20px 10px;
            }
        }

    }
    @media screen and (max-width: $bp-md) {
        display: none;
    }
}

.home-pro, .home-app {
    .wrapper {
        align-items: center;

        & > * {
            width: 48%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }

        li {
            padding: 10px 0;
            list-style: disc;
            line-height: 150%;
        }

        @media screen and (max-width: $bp-md) {
            flex-direction: column;
            & > * {
                width: 100%;
            }

            li {
                list-style: inside;
            }
        }
    }
}

.home-app {
    .text-wrapper img {
        cursor: pointer;
    }
    @media screen and (max-width: $bp-md) {
        .wrapper > img {
            display: none;
        }

        .text-wrapper {
            text-align: center;

            img {
                margin: 0 auto;
            }
        }
    }
}

.search-bar {
    display: flex;
    border: 1px solid $dark-blue;
    justify-content: center;
    border-radius: $radius-xl;
    font-size: 15px;
    .input-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr) auto;
        align-items: center;
        width: 100%;

    }

    .input-wrapper {
        position: relative;

        img {
            position: absolute;
            left: 10px;
            top: 8px;
        }
    }

    .input-field {
        border: none;
        padding: 12px;
        padding-left: 38px;
        border-radius: 0px;
        outline: none;
        width: 100%;
        border-left: 1px solid $dark-blue;
        font-size: 14px;
        &.first {
            border-radius: $radius-xl 0px 0px $radius-xl;
            border: none;
        }
        &::placeholder {
            color: #a0a0a0;
        }
        
    }

    .search-button {
        padding: 10px 30px;
        border: 1px solid $coral;
        border-radius: 0px 25px 25px 0px;
        height: 100%;   
        background-color: $coral;
        color: white;
        cursor: pointer;
        outline: none;
        font-weight: 700;

        &:focus {
            outline: 2px solid black;
        }
    }

    @media screen and (max-width: $bp-sm) {
        border-radius: 0;
        border: none;
        .input-group {
            display: flex;
            flex-direction: column;
            border-radius: 0%;
            border: none;
            box-shadow: $shadow-md;

            & > * {
                width: 100%;
                border-bottom: 1px solid $dark-blue;
            }
            .input-field, button {
                border: none;
            }

            .input-field.first {
                border-radius: $radius-sm $radius-sm 0 0;
            }

            button {
                border-radius: 0 0 $radius-sm $radius-sm;
            }
        }
    }
}
