#hero {

    .hero-wrapper {
        width: 80%;
        padding: 30px 0 100px;

        @media screen and (max-width: $bp-lg) {
            width: 100%;
        }
    }

    h1 {
        margin: 40px 0;
    }

}

.search-bar {
    display: flex;
    border: 1px solid $dark-blue;
    justify-content: center;
    border-radius: $radius-xl;
    font-size: 15px;
    .input-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr) auto;
        align-items: center;
        width: 100%;
    }

    .input-wrapper {
        position: relative;

        img {
            position: absolute;
            left: 10px;
            top: 8px;
        }
    }

    .input-field {
        border: none;
        padding: 12px;
        padding-left: 38px;
        border-radius: 0px;
        outline: none;
        width: 100%;
        border-left: 1px solid $dark-blue;
        font-size: 14px;
        &.first {
            border-radius: $radius-xl 0px 0px $radius-xl;
            border: none;
        }
        &::placeholder {
            color: #a0a0a0;
        }
        
    }

    .search-button {
        padding: 10px 30px;
        border: 1px solid $coral;
        border-radius: 0px 25px 25px 0px;
        height: 100%;   
        background-color: $coral;
        color: white;
        cursor: pointer;
        outline: none;
        font-weight: 500;
    }
}
